<%#
  OVERRIDE Arclight v1.4.0 to add custom campus content
%>

<% breadcrumb :repositories %>

<h1 class="sr-only visually-hidden"><%= t('arclight.repositories') %></h1>

<div class="al-repositories">
  <% @page_title = t('arclight.views.repositories.title') %>
  <%= render 'shared/breadcrumbs' %>

  <%# ADD CUSTOM CONTENT HERE FOR NGAO REPOSITORY PAGE CONTENT %>
  <h2 class="rvt-ts-lg">Welcome to Archives Online</h2>
  <p class="rvt-m-top-sm">Archives Online is a portal for accessing descriptions of archival and special collections held by libraries, archives and other cultural heritage units at Indiana University or affiliated with Indiana University. The collection descriptions (finding aids) are for non-book and original research materials such as correspondence and photographs. Digitized items are provided when available.</p>

  <%# ADD CAMPUS CARDS %>
  <div class="rvt-row">
    <% @campuses.each do |campus| %>
      <%= render partial: 'campus_card', locals: {campus: campus.first} %>
    <% end %>
  </div>

  <%# ADDED CAMPUS LEVEL FOR DISPLAY %>
  <div class="repositories rvt-m-top-xl rvt-m-bottom-xxl">
    <% @campuses.each do |campus, repositories| %>
      <h2 id="<%= campus %>" class="repository-header rvt-ts-lg rvt-m-top-xxl rvt-m-bottom-md rvt-border-bottom"><%= convert_campus_id(campus) %></h2>
      <% repositories.sort{|a,b| a.name <=> b.name}.each do |repository| %>
        <%= render partial: 'repository', locals: { repository: repository } %>
      <% end %>
    <% end %>
  </div>

</div>
<a href="#" class="scrollToTop"><%= blacklight_icon("chevron-double-up") %> Back to top</a>
