<%#
  OVERRIDE Arclight v1.4.0 to remove collection_id from the dropdown
  @see: Ngao::Arclight::CollectionInfoComponent
%>

<div class="al-show-actions-box-info">
  <div class="dropdown">
    <button class="dropdown-toggle btn btn-secondary btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= info_icon %> <%= t('.more_info') %>
    </button>
    <div class="dropdown-menu shadow-lg p-2" style="min-width: 300px">
      <table style="width: 100%">
      <%# OVERRIDE - collection_id removed %>
        <tr>
          <th scope="row"><%= t('.total_items') %></th>
          <td><%= total_component_count %></td>
        </tr>
        <tr>
          <th scope="row"><%= t('.online_items') %></th>
          <td><%= tag.span blacklight_icon(:online), class: 'al-online-content-icon' %><%= online_item_count %></td>
        </tr>
        <tr>
          <th scope="row"><%= t('.last_indexed') %></th>
          <td><%= last_indexed.strftime('%F') %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
